#search-suggestions {
	background-color: $white;
	border: 1px solid $nobel;
	border-radius: 10px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
	top: 28px;
	right: 0;
	position: absolute;
	z-index: 8184;
}

.search-suggestion-wrapper {
	width: 300px;
}

.search-suggestion-wrapper-full {
	width: 621px;
}

.search-suggestion-contents {
	position: relative;
}

.search-suggestion-left-panel {
	width: 300px;
	float: left;
}

.search-suggestion-right-panel {
	width: 300px;
	float: left;
}

.search-suggestion-left-panel-hitgroup-header {
	height: auto;
	font-weight: bold;
	margin: 0 0 8px 0;
}

.search-suggestion-left-panel-hitgroup {
	color: $dim-gray;
	margin: 10px 0 10px 10px;
}

.search-suggestion-left-panel-hitgroup-link {
	margin-left: 1em;
}

.search-suggestion-normal-link {}

.search-suggestion-left-panel-hit {
	margin-left: 1em;
}

.search-suggestion-normal-link:hover,
.search-suggestion-left-panel-hitgroup-link:hover,
.search-suggestion-left-panel-hit:hover {
	text-decoration: underline;
}

.product-suggestion {
	padding: .5em;
	.product-image {
		display: inline-block;
		text-align: center;
		width: 25%;
	}
	.product-details {
		display: inline;
		float: right;
		padding: .5em 0 0 .5em;
		width: 70%;
	}
}

.search-phrase-suggestion {
	margin-top: 1em;
	margin-left: 1em;
}

.search-suggestion-right-panel {
	.whole-phrase {
		font-style: italic;
	}
	.search-suggest-guess {
		text-decoration: underline;
		font-weight: bold;
	}
	.first-term-italic {
		font-style: italic;
	}
	.first-term-bold {
		font-weight: bold;
	}
}

.search-suggestion-left-panel-parent-category {
	color: $nobel;
}
