/*Header footer styling*/
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

html {
	-ms-overflow-style: scrollbar;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	color: #1D1512;
}

a {
	color: #84bd00;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
 }
 
.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

footer {
	background-color: none !important;
}

.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.footer-container {
	display: block;
	background-color: #1a1a1a;
}

.copyright {
	background-color: #1a1a1a;
	text-align: left;
	font-size: 11px;
	margin-left: 20px;
}

footer > .logo-div {
	height: 203px;
	background-color: #fff;
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	border: none;
}

footer h6 {
	color: #2b2b2b;
	font-size: 15px;
	margin-top: 25px;
}

footer .footer-container .container {
	background-color: #000;
}

footer .footer-container .content-asset ul li {
	list-style: none;
	display: inline-block;
	color: #8d8d8d;
	font-size: 12px;
	border-right: 1px solid #3c3c3c;
	padding: 0px 6px;
}

footer .footer-container .content-asset ul li:last-child {
	border-right: none;
}

.footer-container a:hover {
	text-decoration: underline;
}

.col-lg-7 {
	padding-left: 0px;
	padding-right: 0px;
}

footer .footer-container .content-asset ul {
	margin: 0;
	padding: 0;
}

.footer_email {
	width: 225px;
	float: right;
	padding-top: 14px;
	padding-left: 20px;
}

.social-icon {
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}

#footer-cust {
	padding-top: 16px;
}

.footer-right .content-asset {
	float: right;
}

.social-links,.social-links.links-size {
	width: 118px;
	height: 25px;
}
.social-icon .social-links.links-size {
  width: 143px;
  padding:0px;
}
.account-nav-asset .social-icon {
  padding-left:0px;
  padding-top:0px;
}

.social-icon ul.social-links li,.social-icon ul.social-links.links-size li {
	border-right:none !important;
	padding: 0px !important;
	list-style: none;
}
.social-icon ul.social-links li a,.social-icon ul.social-links.links-size li a  {
	background-image: url("../images/interface/icon-social-links.png");
  	width: 26px;
  	height: 22px;
	cursor: pointer;
	float: left;
}
.social-icon ul.social-links li a.fb {
	background-position: 119px 109px;
}
.social-icon ul.social-links li a.twitter { 
	background-position: 89px 109px;
}
.social-icon ul.social-links li a.youtube { 
	background-position: 59px 109px;
}
.social-icon ul.social-links li a.linkedin { 
	background-position: 27px 109px;
}

.social-icon ul.social-links.links-size li a.fb {
	background-position: 119px 80px;
}
.social-icon ul.social-links.links-size li a.twitter {
	background-position: 89px 80px;
}
.social-icon ul.social-links.links-size li a.youtube {
	background-position: 59px 80px;
}
.social-icon ul.social-links.links-size li a.linkedin {
	background-position: 27px 80px;
}

/*
.social-icon ul.social-links li a.fb:hover { 
	background-position: 119px 80px;
}
.social-icon ul.social-links li a.twitter:hover { 
	background-position: 89px 80px;
}
.social-icon ul.social-links li a.youtube:hover { 
	background-position: 59px 80px;
}
.social-icon ul.social-links li a.linkedin:hover { 
	background-position: 27px 80px;
}
*/
.footer-up {
	padding-bottom: 10px;
}

#email-alert-signup button {
	background-color: none;
	border: none;
	color: #fff;
	height: 0;
	padding: 0;
	width: 0px;
}

.footer_email #email-alert-address {
	border: none;
	border-radius: 8px;
	width: 200px;
	height: 22px;
	background-color: #9e9e9e;
	padding-left: 10px;
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 13px;
}

footer .footer-container.footer-privacy {
	padding-bottom: 14px;
}

footer .footer_email .fa-plus {
	margin-left: -26px;
	cursor: pointer;
}

footer {
	background-color: #1a1a1a;
}

/* Header Code */
header button:hover, header .button:hover, header .buttonstyle:hover,
	header input[type="button"]:hover {
	/* background-color: #fff;
	border-color: #84bd00; */
	color: #2b2b2b;
}

.header-banner .header-promotion {
	background-color: #000;
	font-size: 12px;
	color: #fff;
}

header {
	border-bottom: 1px solid #efefef;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	position: relative;
	z-index: 200;
}

.header-logo {
	display: inline-block;
	float: left;
	margin: 16px;
}

.header-right .divider {
	margin: 0 10px;
	color: #dfdfdf;
}

.user-info .divider {
	display: none;
}

.level-1>li>a:hover {
	background-color: transparent;
	color: #2b2b2b;
}

.menu-category {
	border-bottom: none;
	margin: 0px;
	padding: 0px;
}

.menu-category a {
	font-size: 16px;
	text-transform: capitalize;
}

.header-search {
	margin: 0px;
	float: right;
	width: 179px;
	height: 22px;
	border: none;
	border-radius: 8px;
	background-color: #e0e0e0;
}

.header-search input[type="text"] {
	color: #000000;
	font-size: 12px;
	height: 23px;
	padding: 0 0 0 10px;
	width: 80%;
	font-style: italic;
	font-family: "Times New Roman";
}

.header-search label {
	float: right;
	padding: 10px 0px;
	text-align: center;
	width: 20%;
	background-image: url("../images/interface/search-icon-head.png");
	background-repeat: no-repeat;
    height: 13px;
    cursor: pointer;
    background-position: 14px 5px;
}

ul.menu-category li {
	border-right: 1px solid #e0e0e0;
	margin: 15px 0;
	border-left: none;
	font-size: 15px;
	line-height: 40px;
	border-left: none;
	font-size: 15px;
	height: 80px;
}

ul.menu-category li a {
	height: 100px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	padding: 15px 25px;
}

ul.menu-category li a span:hover {
	border-bottom: 3px solid #2b2b2b;
}

.mini-cart-total .mini-cart-empty:hover {
	color: #2b2b2b;
}

.menu-category.level-1>li>a {
	min-width: 120px;
	padding: 15px;
	text-align: center;
}

.menu-category .level-2 {
	left: 0 !important;
	top: 111px !important;
	width: 100%;
	padding-left: 166px;
	box-shadow: none;
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
}

ul.menu-category .level-2 li {
	border-left: none;
	border-right: none;
	padding: 0 25px;
	line-height: 100%;
	margin: 0;
	height: auto;
}

ul.menu-category .level-2 li a {
	height: auto;
	line-height: 125%;
	margin: 0;
	border: none;
	margin-top: 10px;
	font-size: 14px;
	padding: 0;
}

ul.menu-category .level-2 li a:hover {
	border-bottom: none;
}

ul.menu-category li:first-child .level-2 {

}

.menu-category .level-2>.menu-vertical {
	float: left;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
	border-left: 1px solid #e0e0e0;
	border-right: none;
	min-height: 212px;
}

.level-2 .menu-vertical>li>a:first-child {
	padding-top: 0;
}

.menu-category .level-2 .banner {
	border-left: 1px solid #e0e0e0;
	min-height: 200px;
	padding-left: 25px;
	margin-top: 15px;
}

.menu-category .level-2 .banner {
	padding-top: 0;
}

.menu-category .level-2 .banner h3 {
	font-family: "Times New Roman", Georgia, Serif;
	font-size:14px;
	line-height:100%;
	margin:10px 0 6px;
	text-transform:uppercase;
}

.menu-category .level-2 .banner p {
	font-size:12px;
	line-height:100%;
}

.menu-category .level-2 .banner a {
	height: auto;
	line-height: 100%;
	margin: 0;
	padding: 0;
}

.menu-category .level-2 .banner a:hover {
	text-decoration:none;
}
.menu-category .level-2 .banner img {
	border:1px solid #e0e0e0;
	max-height:160px;
	width:auto;
}
.menu-category .level-2 .banner a:hover {
	border-bottom: none;
}

.menu-vertical h4 {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	padding-left: 25px;
	margin-top: 0;
	margin-bottom: 0;
}

.level-1>li:first-child {
	border-left: 1px solid #e0e0e0;
}

.top-banner .col-md-6 {
	padding-top: 22px;
}

.menu-category a {
	color: #2b2b2b;
}

header #mini-cart {
	float: right;
	padding-left: 22px;
	height: 25px;
}

header .col-md-12 ul {
	float: right;
	padding-top: 22px;
}

.menu-utility-user li {
	float: left;
	margin: 0;
}

.menu-utility-user li a {
	text-transform: capitalize;
	color: #2b2b2b;
}

.menu-utility-user .generalnav a {
	text-transform: capitalize;
	color: #2b2b2b;
}

.menu-category li {
	border-top: none;
}

.mini-cart-link {
	position: relative;
	top: -3px;
}

.menu-utility-user li a:hover {
	color: #2b2b2b;
	text-decoration: underline;
}

.header-main-search {
	margin-top: 15px;
	clear:both;
}

.primary-logo {
	margin: 0;
}

.primary-logo a {
	height: 100%;
}

.primary-logo img.hidden-lg {
	padding: 14px 0;
}

#mini-cart .fa-shopping-cart-1 {
	width: 18px;
	height: 18px;
	background-image: url("../images/interface/basket_icon.png");
	background-position: left center;
	position: relative;
	top: 4px;
	margin-right: 3px;
}

.header-right {
	margin: 16px;
	text-align: center;
}

.header-right .header-right-content {
	margin-top:15px;	
}
.mini-cart-total .mini-cart-link .minicart-quantity {
	color: #000;
	position: static;
	background-color: transparent;
	padding: 0px;
	font-size: 12px;
}

.mini-cart-total .mini-cart-link {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	height: 58px;
}

.mini-cart-total .mini-cart-link:hover {
	text-decoration: none;
}

.top-banner.responsive-nav nav[role="navigation"] {
	padding-top: 22px;
}

.top-banner.responsive-nav .header-search {
	float: none;
	width: 205px;
	height: 22px;
	margin-top: 22px;
	margin: 0 auto;
}

.top-banner.responsive-nav .header-search label {
	float: right;
	color: #646569;
}

.top-banner.responsive-nav ul.menu-category li {
	border: none;
	height: 100% !important;
	min-height: 1px;
	border-bottom: 1px solid #efefef;
	border-right: none;
	font-size: 14px;
	line-height: 25px;
}

.top-banner.responsive-nav ul.menu-category li a {
	font-size: 14px;
	color: #2b2b2b;
}

.top-banner.responsive-nav ul.menu-category {
	border-top: 1px solid #efefef;
	margin-top: 20px;
	margin-bottom: 12px;
}

.top-banner.responsive-nav .level-1>li:first-child {
	border-left: none;
}

.top-banner.responsive-nav .level-1>li .menu-item-toggle {
	float: right;
}

.top-banner.responsive-nav ul.menu-vertical li {
	font-size: 12px;
}

.top-banner.responsive-nav ul.menu-category li i.fa-chevron-right1 {
	width: 21px;
	height: 10px;
	background-image: url("../images/arrow_up.png");
	background-position: left top;
	position: absolute;
	float: right;
	right: 17px;
	background-repeat: no-repeat;
	margin-top: 16px;
}

.top-banner.responsive-nav ul.menu-category li i.fa-chevron-down1 {
	background-image: url("../images/arrow_down.png");
	background-position: left top;
}

.top-banner.responsive-nav .primary-logo {
	margin-left: 16px;
}

.top-banner.responsive-nav .menu-toggle {
	padding-left: 15px;
	padding-right: 15px;
}

::-webkit-input-placeholder {
	color: #000000;
}

.top-banner.responsive-nav  #mini-cart {
	margin-top: 10px;
	margin-right: 10px;
}
/*header footer styling end*/
.pt_account, .pt_wish-list, #main {
	background-color: #fff !important;
}

.primary-content h1 {
	font-size: 1.6em;
	font-weight: 400;
	margin: 0 0 14px;
}

#secondary {
	border-right: 1px solid #e0e0e0;
}

#secondary .secondary-navigation .toggle {
	font-weight: 600;
}

#secondary .secondary-navigation ul {
	padding: 0;
}

#secondary .secondary-navigation ul li {
	list-style-type: none !important;
}

.account-nav-asset {
	margin: 0;
	padding: 0;
}

.account-nav-asset h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
}

.breadcrumb {
	margin-left: 0;
	margin-right: 0;
}

.ui-dialog label, #main label {
	display: block;
	float: left;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.5em 0.5em 0 0;
	text-align: right;
	width: 22%;
}

#main .input-text, .ui-dialog .input-text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#main .input-text:focus, .ui-dialog .input-text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.input-text::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.input-text:-ms-input-placeholder {
	color: #999;
}

.input-text::-webkit-input-placeholder {
	color: #999;
}

.input-text[disabled], .input-text[readonly], fieldset[disabled] .input-text
	{
	background-color: #eee;
	opacity: 1;
}

.input-text[disabled], fieldset[disabled] .input-text {
	cursor: not-allowed;
}

textarea.form-control {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: none;
}

.form-indent {
	margin-left: 22%;
}

.content-asset .account-option .acc-list {
	
}

.content-asset .account-option .acc-list a {
	display: block;
	font-size: 1.5em;
	line-height: 2.5em;
	overflow: visible;
	/* padding: 0 0 0 4.58em;  */
}

.content-asset .account-option .acc-list img {
	position: relative;
	top: .47em;
}

.content-asset .account-option .acc-list p {
	margin: 0 0 15px;
	padding-left: 4.58em;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

fieldset.search-box {
	border: 1px solid #e0e0e0;
	background-color: #f6f6f6;
	padding: 15px 0;
}

.form-group .form-row {
	float: none;
	margin: 0;
	width: auto;
}

.form-inline .form-group .form-row label {
	padding: 0;
	text-transform: capitalize;
}

#main {
	min-height: 495px;
}

.container {
	/* padding-left: 0;
	padding-right: 0; */
	
}

div {
	max-width: none;
}

/*Contact us Page */
.pt_customer-service #secondary .secondary-navigation .toggle {
	font-size: 16px;
	font-family: "Times New Roman";
}

.pt_customer-service #secondary nav .secondary-navigation .toggle {
	padding: 0px;
	cursor: pointer;
}

.pt_customer-service #secondary .secondary-navigation ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.pt_customer-service #secondary .secondary-navigation ul {
	border-bottom: 1px solid #e0e0e0;
}

.pt_customer-service #secondary .secondary-navigation ul:last-child {
	border-bottom: none;
}

.pt_customer-service #secondary nav a {
	margin-left: 0px;
}

.pt_customer-service #secondary .secondary-navigation ul li:last-child {
	margin-bottom: 15px !important;
}

.pt_customer-service #primary .account-nav-asset {
	background: none;
	padding: 0px;
}

.pt_customer-service #primary .account-nav-asset h2 {
	color: #2b2b2b;
}

.pt_customer-service #primary .account-nav-asset a {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #2b2b2b;
}

.pt_customer-service #main .container#cust-service {
	padding-bottom: 50px;
	padding-top: 20px;
}

#main h1 {
	font-size: 32px;
	line-height: 20px;
	font-family: "Times New Roman";
	text-transform: uppercase;
	margin-top: 29px;
	line-height:100%;
}

.pt_customer-service  .primary-content.col-md-9 .col-md-9 {
	/*min-height: 1100px;*/
	border-right: 1px solid #e0e0e0;
	padding-left:50px;
}

#main input[type="text"], #main input[type="number"], #main input[type="password"],
	.ui-dialog input[type="text"], .ui-dialog input[type="number"],
	.ui-dialog input[type="password"], .ui-dialog select, .ui-dialog textarea,
	#main select, #main textarea {
	width: 330px;
	height: 28px;
	border: 1px solid #e1e1e1;
	border-radius: 0px;
	padding: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-left: 0;
}

#main .form-caption {
	margin:0;
}

.required-indicator {
	color: #1d1512;
}

.error {
	border-color: #b2595c;
	color: #b2595c;
}

span.error {
	margin: 1% 2% 0% 22%;
}

#main button, #main .button, #main .buttonstyle, #main input[type="button"],
	.ui-dialog button, .ui-dialog .button, .ui-dialog .buttonstyle,
	.ui-dialog input[type="button"] {
	height: 36px;
	background-color: #000;
	font-size: 12px;
	border: none;
	padding: 0 30px;
	border-color: transparent;
	border-radius: 0px;
	border-style: none;
	border-width: 0px;
}

#main button:hover, #main .button:hover, #main .buttonstyle:hover, #main input[type="button"]:hover,
	.ui-dialog button:hover, .ui-dialog .button:hover, .ui-dialog .buttonstyle:hover,
	.ui-dialog input[type="button"]:hover {
	background-color: #7f7f7f;
	border-color: #e0e0e0;
	border-with: 2px;
	color: #fff;
}

#main .row {
	/*  margin-right: 0px;
 	 margin-left: 0px; */
	
}

#main label, .ui-dialog label {
	text-align: left;
}

#main select {
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	margin-left: 0px;
	background-image: url("../images/arrow_down.png");
	background-repeat: no-repeat;
	background-position: 95% 8px;
	cursor: pointer;
}

#main textarea {
	height: 88px;
	margin-left: 0px;
}

.contact_us_img {
	background-image: url("../images/contact_us_ban.png");
	background-size: cover;
	height: 360px;
}

.social-links.links-size ul li {
	  list-style: none;
}

/*Mini cart styling*/
.mini-cart-content {
	/* display: block !important; */
	top: 111px;
	width: 405px;
	padding: 0 20px;
	z-index: 100;
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	border: 1px solid #e0e0e0;
	margin-right: 15px;
}

.mini-cart-content .mini-cart-header {
	text-align: left;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 0 10px;
	font-weight: 400;
}

.mini-cart-product.collapsed .mini-cart-image {
	display: inherit;
	text-align: center;
}

.mini-cart-content .mini-cart-toggle {
	display: none;
}

.mini-cart-products {
	padding: 0;
	max-height: 426px;
}

.mini-cart-product {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}

.mini-cart-image {
	float: left;
	width: 105px;
}

.mini-cart-name {
	margin-left: 120px;
	text-align: left;
	float: none;
	width: auto;
	font-size: 13px;
	padding-left: 0;
	font-style: inherit;
	font-family: "Times New Roman", Georgia, Serif;
	margin-bottom: 10px;
	color: #2b2b2b;
	margin-right: 70px;
}

.mini-cart-name a {
	color: #2b2b2b;
}

.mini-cart-attributes, .mini-cart-product .product-availability-list,
	.mini-cart-pricing {
	margin-left: 120px;
	text-align: left;
	float: none;
	width: auto;
	font-size: 12px;
	margin-right: 70px;
}

.mini-cart-content .label {
	font-size: 0.9em;
	font-weight: 400;
	color: #2b2b2b;
	font-size: 12px;
	padding: 0;
	display: inline-block;
	text-align: left;
}

.mini-cart-attributes .attribute {
	margin-bottom: 0;
	line-height: 18px;
}

.mini-cart-attributes, .mini-cart-product .product-availability-list {
	font-weight: 400;
}

.mini-cart-content .mc-item-price {
	float: right;
	position: absolute;
	right: 0;
	text-align: right;
	top: 10px;
	width: 70px;
	font-weight: 400;
	padding-right: 10px;
	font-size: 12px;
}

.mini-cart-totals {
	border-top: 1px solid #e0e0e0;
}

.mini-cart-subtotals .label {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 50%;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}

.mini-cart-subtotals .value {
	display: block;
	float: right;
	text-align: right;
	width: 50%;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}

.mini-cart-subtotals {
	padding: 12px 0;
	overflow: auto;
	border-bottom: 1px solid #e0e0e0;
}

.mini-cart-totals button, .mini-cart-totals .button {
	width: 100%;
}

.mini-cart-totals button, .mini-cart-totals .button, .mini-cart-totals .buttonstyle,
	.mini-cart-totals input[type="button"] {
	height: 50px;
	background-color: #000;
	font-size: 16px;
	border: 1px solid #808080;
	padding: 0 30px;
	border-color: transparent;
	border-radius: 0px;
	border-style: none;
	border-width: 0px;
	line-height: 48px;
	color: #fff;
	text-align: center;
}

.mini-cart-totals button:hover, .mini-cart-totals .button:hover,
	.mini-cart-totals .buttonstyle:hover, .mini-cart-totals input[type="button"]:hover
	{
	background-color: #7f7f7f;
	border-color: #e0e0e0;
	border-width: 1px;
	color: #fff;
	text-decoration: none;
}

.mini-cart-link-checkout {
	color: #2b2b2b;
	font-style: italic;
	text-decoration: underline;
	font-family: "Times New Roman", Georgia, Serif;
	padding-bottom: 8px;
	font-size: 12px;
	height: auto;
}

.mini-cart-link-checkout:hover {
	color: #2b2b2b;
	text-decoration: none;
}

.mini-cart-slot {
	background: none repeat scroll 0 0 #fff;
	box-shadow: none;
	min-height: 47px;
	margin: 0;
	padding: 16px 5px 11px;
	font-size: 14px;
	line-height: 20px;
	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
	border: none;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
	font-style: normal;
}

.mini-cart-slot p {
	margin: 0 !important;
	padding: 0 !important;
}

/* Email POP-UP Styling */
.ui-dialog .ui-dialog-content {
	overflow: visible;
	padding: 10px 0;
}

.form-caption {
	margin: -2% 0 0% 23%;
}

.ui-dialog input[type="text"] {
	width: 78%;
}

.error-message {
	border: none;
	background-color: transparent;
	padding: 0px;
	text-indent: 0;
	width: 49.5966%;
}

.ui-dialog .cancel-button {
	background-color: #e6e6e6;
	color: #1d1512;
	margin-left: 18px;
}

.ui-dialog .cancel-button#cancelThankYou {
	margin-left: 0px;
}

.ui-dialog .cancel-button:hover {
	background-color: #fff;
	border: 2px solid #e6e6e6;
	color: #1d1512;
}

.ui-dialog .ui-icon-closethick {
	background-image: url("../images/popup_close_icon.png");
	background-repeat: no-repeat;
	background-position: right 8px;
	border-bottom: 1px solid #e6e6e6;
}

.ui-dialog h4 {
	text-align: center;
	padding-botton: 15px;
}

.ui-dialog h1, .ui-dialog h2 {
	font-family: "Times New Roman";
}

sup {
	top: -6px;
	font-size: 60%;
}

/*Home page Styling*/
.home-bottom-slots {
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
}

.home-bottom-slots {
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 80px;
}

.home-bottom-first {
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}

.home-bottom-slots .home-first, .home-bottom-first .home-small {
	background-color: #1a1a1a;
	color: #fff;
	padding-bottom: 15px;
	height:135px;
}

.home-bottom-slots .home-first h1, .home-bottom-first .home-small h1 {
	margin-top: 0px !important;
	padding-top: 15px;
	padding-bottom: 5px; font-size : 22px !important;;
	font-weight: 400;
	margin-bottom: 0;
	letter-spacing: 0.5px;
	font-size: 22px !important;
}

.home-bottom-slots .home-first p, .home-bottom-first .home-small p {
	margin: 0 0 8px !important;
	font-family: 'Roboto', sans-serif;
	padding: 0 20px;
}

.home-bottom-slots .home-first a, .home-bottom-first .home-small a {
	line-height: 22px;
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.home-bottom-slots .home-first a:hover, .home-bottom-first .home-small a:hover
	{
	text-decoration: underline;
}

.home-bottom-slots .col-sm-12 p, .home-bottom-first .col-sm-12 p {
	margin: 6px 0px;
	padding-bottom: 10px;
	color: #1a1a1a;
	font-family: 'Roboto', sans-serif;
}

.home-bottom-slots .home-gear-accessories h1 {
	margin: 0px !important;
	padding: 0px !important;
	line-height: 28px;
	color: #1a1a1a;
	letter-spacing: 2px;
	font-weight: 400;
}

.home-bottom-first .home-more-kuiu h1 {
	margin: 0px !important;
	padding: 0 0 5px !important;
	line-height: 28px;
	color: #1a1a1a;
	letter-spacing: 2px;
	font-weight: 400;
}

.home-bottom-first {
	background-color: transparent;
}

.home-bottom-first .home-small {
	height: 170px !important;
}

.home-bottom-first .home-small img {
	with: 100%;
}

.home-bottom-banner p {
	margin:0; 
	padding:0;
}
.home-bottom-banner .home-bottom-banner-img {
   position:relative;
   background-position: center center;
   background-size: cover;
   height: 325px;
}
.home-bottom-first .home-more-kuiu {
	margin-bottom:16px;	
}

.home-bottom-slots img,
.home-bottom-first img {
	width:100%;
}

.home-bottom-first .col-sm-6 {
	margin-bottom:20px;
}


/*home slider height issue fixed*/

.home-slider-wrap {
	height:calc(100vh - 133px);
}

#homepage-slider {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}

#homepage-slides {
    display: block;
    height: 100%;
    list-style: outside none none;
    min-height: 100%;
    position: absolute;
}

ul.menu-category.level-1 li#menu-space2 .level-2 {
	 padding-left: 286px;
}
ul.menu-category.level-1 li#menu-space3 .level-2 {
	padding-left: 408px;
} 

/* Slider Styling */
#homepage-slides {
	list-style:none;
}
#homepage-slides .slide {
   height: 100%;
   list-style:none;
   position: relative;
  }
  
 #homepage-slides .slide .slider-image {
   width:100%;
   height:100%;
   display:block;
   position: relative;
   background-position: right top;
   background-size: cover;
   z-index:1;
 }
 
#homepage-slides .slide .inner-box {  
  position: absolute;
  margin: auto;
  height: 206px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-transform: uppercase;
  left: 0;
  right: 0;
  Bottom: 0;
  top: 0;
  text-align: center;
  opacity: 0.95;
  width:60%;
  z-index:5;
 }
#homepage-slides .slide .inner-box h1 {
  font-size: 40px;
  letter-spacing:4px;
  margin-top: 40px;
  white-space:nowrap;
  
 }
#homepage-slides .slide .inner-box h3 {
	letter-spacing: 1px;
	font-size:18px;
	font-weight: 400;
    font-family: "Times New Roman", Georgia, Serif;
}
#homepage-slides .slide .inner-box button{
	width:135px;
	height:34px;
	border-radius:0px;
	background-color: #fff;
    line-height: 22px;
    margin-top: 16px;
    color:#1a1a1a;
}
#homepage-slides .slide .inner-box button:hover {
	color:#000;
}
#homepage-slider .jcarousel-control {
  position: relative;
  left: 0; 
  top: calc(100vh - 195px);
  display: table;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
  z-index:10;
}
#homepage-slider .jcarousel-control a {
  border-radius: 50%;
  width: 15px;
  background-color: transparent;
  border: 2px solid #808084;
}

#homepage-slider .jcarousel-control a.active {
  border: 2px solid #fff;
  background-color: transparent;
  
}

#homepage-slider .jcarousel-control .scroll_top {
	width:70px;
	height:42;
	background-color: #fff;
	position: absolute;
}

#homepage-slider .jcarousel-prev,#homepage-slider .jcarousel-next
{
	width:40px;
	height:70px;
	background-color: #fff;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    opacity: 0.8;
    margin-top:-35px;
    z-index: 10;
}

#homepage-slider .jcarousel-prev {
	background-image: url("../images/interface/b-prev_arrow.png");
    background-repeat: no-repeat;
    background-position: 8px 15px;
}

#homepage-slider .jcarousel-next {
	right: 0;
  	left: inherit;
	background-image: url("../images/interface/b-next-arrow.png");
	background-repeat: no-repeat;
	background-position: 15px 15px;
}

.header-banner .header-promotion a { 
	color:#fff;
	font-style: italic;
}

/*Pop up styling */

.ui-dialog {
	border: 15px solid #b2b2b2;
    padding: 5px 20px;
}
.ui-dialog .ui-widget-header {
	background-color: #fff;
	border-bottom:1px solid #e6e6e6;
	height: 32px;
	padding:6px;
}

.ui-dialog .ui-dialog-content,.ui-dialog .ui-dialog-titlebar button {
	  background-color: #fff;
}

.ui-dialog .ui-dialog-content h5 {
	text-align: center;
	margin-bottom:20px;
}

.ui-dialog h1, .ui-dialog h2 { 
	width :91%;
}
.ui-dialog .ui-dialog-titlebar-close span {
	background-color: #fff;
}
.ui-dialog .form-caption {
  margin: 0;
}
.ui-dialog .form-row  {
	padding-bottom: 16px;
	margin:0px;
}

.ui-dialog .form-row.form-row-button {
  margin-bottom: 30px;
  margin-left: 22%;
  padding: 0px;
}

#homepage-slider .jcarousel-scroll {
	width:40px;
	height:70px;
	background-color: #fff;
	position: absolute;
    left: 50%;
    right: 0;
    bottom: -15px;
    opacity: 0.8;
    margin-left:-20px;
	background-image: url("../images/interface/b-next-arrow.png");
	background-repeat: no-repeat;
	background-position: 20px 15px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    z-index: 10;
}

#homepage-slider .jcarousel-scroll span{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	  display: block;
	  width: 100%;
	  text-align: center;
	  color: black;
	  z-index: 5;
	  position: absolute;
	  left: 0;
	  margin-left: -7px;
	  margin-top: 26px;
	  font-family: "Times New Roman", Georgia, Serif;
	  font-size:13px;
	  font-style:italic;
	}

.pt_customer-service #secondary {
	padding-left:50px;
}

.pt_product-search-result .primary-content, 
.pt_content-search-result .primary-content {
	background:#fff;
}

#main .categoryheader {
	padding-top:30px;
}

#main .categoryheader p {
	margin:0;
}

#main .categoryheader h1 {
	margin:0 0 20px;
}

#main .categoryheader .sort-by {
	width:auto;
	display:inline-block;
	background:#f9f9f9;
	border:1px solid #dadad9;
	vertical-align:top;
	 color:#2b2b2b;
	 font-size:13px;
	 padding:3px 0;
	 margin-bottom:20px;
	 float:none;
	 font-style:normal;
	 background-position: 92% 11px;
}

#main .categoryheader .sort-by form label{
	display:none;
}

#main .categoryheader .sort-by form select {
	font-style: normal !important;
    width: auto;
    background-color: transparent;
    border:none;
    margin:0;
    font-size:13px;
    background-position: 92% 11px;
    padding-right: 20%;
}

#main .categoryheader .btn-refineby {
	vertical-align:top;
	-moz-appearance: none;
    background-image: url("../images/arrow_down.png");
    background-position: 92% 11px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 0;
    text-align:left;
    color:#2b2b2b;
    font-size:13px;
    margin-bottom:20px;
    background-color:#f9f9f9;
	border:1px solid #dadad9;
	min-width: 114px;
    padding: 0 5px;
}

#main .categoryheader .sort-Go-Button {
	display:none;
	}

.refinements {
	background-color: #f9f9f9;
	border:1px solid #dadad9;
}
.refinements .refinements-wrap {
	margin:0;
    padding:20px 0;
    display:table;
    table-layout: fixed;
    width:100%;
    max-width:100%;
}

.refinements .refinements-wrap .refinement {
	border-left:1px solid #dcdcdb;
    padding: 5px 10px;
    margin:0;
    overflow:hidden;
    display:table-cell;
}

.refinements .refinement.Color .refinement-header,
.refinements .refinement.Price .refinement-header,
.refinements .refinement.Size .refinement-header,
.refinements .refinement.KUIU.System .refinement-header {
	display:none;
}

.refinements .refinements-wrap h2.visually-hidden {
	display:none;
}

.refinements .refinement-header {
  background-color: transparent;
  border-top: none;
  display: block;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
  text-align:left;
  font-family: "Times New Roman", Georgia, Serif;
}

.refinement h3.toggle {
  background-color: transparent;
  border-top: none;
  display: block;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
  text-align:left;
  font-family: "Times New Roman", Georgia, Serif;
}

.refinement h3.toggle i.fa {
	display:none;
}

.refinement ul {
	padding:0;
	margin: 0 0 15px;
}

.refinement ul h4 {
	font-size: 13px;
  	font-weight: 600;
  	margin:0;
}

.refinement ul li {
	padding:0;
	margin-top:8px;
}

.refinements .refinement #category-level-1 li .refinement-link {
	padding:0;
}

.refinement ul:first-child {
	margin-bottom:25px;
}

.refinement ul.swatches li {
  float: left;
  padding: 0;
  border: 1px solid #f9f9f9;
  border-radius: 99px;
  margin-right: 10px;
  margin-bottom:10px;
}

.refinement ul.swatches li.selected {
  border: 1px solid #c3c3c3
}
.refinement ul.swatches li a {
  border: 1px solid #c3c3c3;
  border-radius: 99px;
  display: block;
  padding: 7px 0;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #fff;
}

.refinement ul.swatches li.selected a {
  border: 2px solid #fff;
  font-weight: normal;
}

.refinement .clear-refinement {
  position: absolute;
  right: 0.7em;
  top: 7px;
  font-style:italic;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: 600;
}

.refinement ul.swatches.Color li {
  float: left;
  padding: 0;
  border: 1px solid #c3c3c3;
  border-radius: 99px;
  margin-right: 5px;
}

.refinement ul.swatches.Color li.selected {
  border: 1px solid #c3c3c3
}
.refinement ul.swatches.Color li a {
  border: 2px solid #fff;
  border-radius: 99px;
  display: block;
  padding: 5px;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #fff;
}

.refinement ul.swatches.Color li.selected a {
  border: 2px solid #fff;
  font-weight: normal;
  background-image:url("../images/icon-color-cross.png");
  background-repeat:no-repeat;
  background-position:center center;
}

.refinements #closeslider {
  width: 40px;
  text-align: center;
  left: 50%;
  position: relative;
  margin-left: -20px;
  margin-bottom: 15px;
  display: block;
  font-style: italic;
  text-decoration: underline;
  font-size: 13px;
}

.refinements-breadcrumb .breadcrumb {
	background-color: transparent;
}

.refinements-breadcrumb .breadcrumb-refinement-name {
	margin-right:5px;
}

.refinements-breadcrumb .breadcrumb-refinement-value {
	background-color: transparent;
	padding:0;
}

.refinements-breadcrumb .breadcrumb-relax { 
  background: none;
  color: #2b2b2b;
  font-style: normal;
  padding: 0;
  font-size: 16px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 99px;
  text-align: center;
  line-height: 16px;
  vertical-align: bottom;
  margin-bottom: -4px;
  font-weight: 500;
  margin-left: 2px;
}

.refinements-breadcrumb .breadcrumb-relax:hover {
	border: 1px solid #2b2b2b;
	text-decoration:none;
}
.refinements-breadcrumb #clearallrefinements {
  float: right;
  margin-top: 4px;
  color: #2b2b2b;
  font-size: 13px;
  font-style: italic;
  display: block;
  text-align: right;
  padding-right: 3px;
  font-family: "Times New Roman", Georgia, Serif;
}

.refinements-breadcrumb .breadcrumb {
  padding: 8px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom:1px solid #dadad9;
}

.refinements-breadcrumb .container {
	padding-left:0;
	padding-right:0;
}

.page-banner-main {
	height:575px;
	width:100%;
	background-size:cover;
	background-position:center center;
	display:block;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	position: relative;
	z-index:100;
}

.page-banner-second {
	height:325px;
	width:100%;
	background-size:cover;
	background-position:center center;
	display:block;
	position: relative;
	z-index:50;
}

#main .cl-section-title {
	margin:40px 0 0;
}

#main .cl-section-title h1 {
	margin:0 0 5px;
}

#main .cl-section-title p {
	margin:0;
	font-size:13px;
	font-weight:500;
}

.cl-section-categories {
	margin:30px 0 40px;
    padding:0;
    display:table;
    table-layout: fixed;
    width:100%;
    max-width:100%;
}

.cl-gear-categories {
	margin:30px 0;
    padding:0;
    display:block;
}

.cl-section-categories .cl-section-category {
	border-right: 1px solid #dcdcdb;
    padding: 10px 30px 0;
    overflow:hidden;
    display:table-cell;
    text-align:center;
    font-weight:500;
    font-size:13px;
    position:relative;
}

.cl-gear-categories .cl-gear-category { 
	border-right: 1px solid #dcdcdb;
    padding: 10px 0 0;
    margin: 0 0 30px;
    display:block;
    text-align:center;
    font-weight:500;
    font-size:13px;
    position:relative;
}

.cl-gear-categories .cl-gear-category a,
.cl-section-categories .cl-section-category a{ 
	display:block;
	color:#2b2b2b;
	padding-bottom:40px;
}

.cl-gear-categories .cl-gear-category span,
.cl-section-categories .cl-section-category span{ 
	bottom: 10px;
    display: block;
    text-align: center;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 20%;
}

.by-product-section {
	background-color:#f9f9f9;
}


/* kuiu story landing page styling */

.story-landing {
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}

.story-landing .row .col-xs-12 {
	margin-bottom:20px;
}

.story-landing > .row{
	margin-left:12%;
	margin-right:12%;
}

.story-landing .info-panel {
	background-color: #1a1a1a;
	color: #fff;
	padding-bottom: 15px;
}

.story-landing .info-panel h1 {
	margin-top: 0px !important;
	padding-top: 15px;
	padding-bottom: 5px; font-size : 22px !important;;
	font-weight: 400;
	margin-bottom: 0;
	letter-spacing: 0.5px;
	font-size: 22px !important;
}

.story-landing .info-panel p {
	margin: 0 0 8px !important;
	font-family: 'Roboto', sans-serif;
	padding: 0 20px;
}

.story-landing .info-panel a {
	line-height: 22px;
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.story-landing .info-panel a:hover {
	text-decoration: underline;
}

.story-landing .info-panel {
	
}

.story-landing .info-panel img {
	with: 100%;
}



















