@media ( min-width : 320px) {
}

@media ( min-width : 480px) {
}

@media ( min-width : 768px) {
	.menu-category a {
		
	}
	.menu-category.level-1>li>a {
		
	}
	.menu-category.level-1>li:first-child {
		border-left: 1px solid #e0e0e0;
	}
	.primary-logo .tab-view {
		margin-left: 40px;
		margin-top: 26px;
	}
	#footer-cust {
		float: left;
	}
}

@media ( min-width : 992px) {
	.cl-section-categories .cl-section-category:last-child {
		border-right:none;
	}
	
	.cl-gear-categories .cl-gear-category:nth-child(4n) {
		border-right:none;
	}
	
	.pt_giftcert #main .no-design label {
		float:left;
		width:42%;
		font-size:12px;
	}
	
	.pt_giftcert #main .no-design.full-fields input[type="text"], 
	.pt_giftcert #main .no-design.full-fields input[type="number"], 
	.pt_giftcert #main .no-design.full-fields input[type="password"], 
	.pt_giftcert #main .no-design.full-fields select,
	.pt_giftcert #main .no-design.full-fields textarea {
		width:58%;
		float:left;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap .gift-cert-balance input[type="text"] {
		height:30px;
		width:100%;
	}
	
}

@media ( min-width : 1200px) {
	
	

}

@media ( min-width : 0px) and (max-width: 767px) {
	
	#main  {
	/*	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.3); */
	}
	
	#wrapper {
		min-width: 0;
	}
	.ui-dialog label {
		width:100%;
		float:none;
		display:block;
		margin:0 0 5px;
		padding:0;
	}
	.login-box-content label, label, .form-caption, .form-label-text {
		width: auto;
	}
	.pt_customer-service .primary-content.col-md-9 .col-md-9 {
		min-height: 100px;
		border-right: none;
	}
	#main input[type="text"], #main input[type="password"], #main textarea,
		#main select {
		width: 100% !important;
		clear: both;
	}
	#main .form-row-button, #main button, #main input[type="button"] {
		width: 100%;
	}
	#main select {
		background-position: 95% 8px;
	}
	.pt_customer-service #primary {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pt_customer-service #secondary {
		border-right: none;
		width: 100%;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#secondary nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	#homepage-slider {
		-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	}
	#wrapper.menu-active header {
		box-shadow: none;
	}
	.mobile-logo {
		position: absolute;
		left: 50%;
		margin-left: -41px;
	}
	.responsive-nav {
		min-height: 75px;
	}
	.primary-logo a {
		height: 75px;
	}
	.top-banner.responsive-nav #mini-cart {
		margin-top: 30px;
	}
	.menu-toggle {
		margin-top: 17px;
		outline: none;
	}
	.responsive-nav ul.menu-category li {
		height: auto;
	}
	.responsive-nav ul.menu-category li a {
		height: 18px;
		line-height: 100%;
		margin: 15px 0;
		padding: 0 20px;
		text-align: left;
	}
	.responsive-nav ul.menu-category li a:hover {
		color: #2b2b2b;
	}
	ul.menu-category li {
		margin: 0;
	}
	.menu-category .level-2 {
		clear: both;
		left: 0 !important;
		overflow: hidden;
		padding-left: 0;
		top: 0 !important;
		width: 100%;
	}
	.menu-category .level-2>.menu-vertical {
		border-left: 1px solid #e0e0e0;
		border-right: medium none;
		display: inline-block;
		float: none;
		margin-bottom: 0;
		margin-top: 0;
		min-height: 0;
		padding: 0;
		width: 100%;
	}
	.menu-vertical h4 {
		color: #2b2b2b;
		padding-left: 20px;
		margin-top:15px;
	}
	
	.level-1>li .menu-item-toggle:hover {
		background-color: transparent;
	}
	ul.menu-category .level-2 li, .top-banner.responsive-nav ul.menu-category li {
		border: none;
		height:auto !important;
	}
	.top-banner.responsive-nav ul.menu-vertical li {
		padding: 0 20px;
	}
	ul.menu-category .level-2 li a {
		border: medium none;
		font-size: 14px;
		height: auto;
		line-height: 125%;
		margin: 10px 0 0;
		padding: 0;
	}
	.responsive-nav ul.menu-category.level-1>li {
		border-bottom: 1px solid #e0e0e0;
	}
	.level-1>li a:hover {
		background-color: transparent;
	}
	nav[role="navigation"] {
		height: 100%;
		-webkit-box-shadow: inset -3px 0px 3px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: inset -3px 0px 3px 0px rgba(0,0,0,0.3);
		box-shadow: inset -3px 0px 3px 0px rgba(0,0,0,0.3);
		z-index:300;
	}

	/*footer styling */
	.footer-container .pull-left, .footer-container .pull-right {
		float: none !important;
	}
	.footer-container, footer {
		background-color: transparent;
	}
	footer .col-xs-12 {
		padding-left: 0;
		padding-right: 0;
		clear: both
	}
	#footer-cust {
		background-color: transparent;
		color: #2b2b2b;
		margin-top: 25px;
		padding: 0 20px;
		text-align: center;
	}
	.footer-container #footer-cust a {
		color: #2b2b2b;
	}
	footer .footer-container .content-asset ul li {
		display: block;
		border-right: none;
		margin-bottom: 10px;
	}
	.copyright {
		margin-left: 0;
		padding: 15px 20px;
		text-align: center;
	}
	.copyright .copy-text, .copyright .privacy-terms {
		display: block;
		line-height: 20px;
	}
	.privacy-terms .divider:first-child {
		display: none;
	}
	.footer-up {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	footer .footer-container.footer-privacy {
		padding-bottom: 0;
	}
	.footer-right .content-asset {
		float: none;
		text-align: center;
	}
	.social-icon {
		clear: both;
		display: inline-block;
		float: none;
		overflow: hidden;
		padding-left: 0;
		padding-top: 0;
		text-align: center;
		margin-top:5px;
	}
	footer .footer-container .content-asset .social-icon  ul li {
		margin-bottom:0;
	}
	.footer_email {
		clear: both;
		display: block;
		float: none;
		margin-bottom: 20px;
		padding-left: 0;
		padding-top: 14px;
		width: 100%;
	}
	footer ul.social-links  li {
		display: block !important;
		float: left;
		width: 29px;
		height: 25px;
		padding: 0 !important;
		border: none !important;
	}
	footer ul.social-links li a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.footer_email #email-alert-address {
		background-color: #e0e0e0;
		width: 260px;
	}
	footer {
		background-color: #fff;
	}
	header {
		position: static;
		z-index: 100;
	}
	.mini-cart-content {
		top: 98px;
		width: 300px;
		padding: 0 15px;
		max-width: inherit;
	}
	.mini-cart-image {
		float: none;
		font-size: 14px;
		min-height: 0;
		width: 100%;
		margin-bottom: 15px;
	}
	.mini-cart-name {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.mini-cart-attributes, .mini-cart-product .product-availability-list,
		.mini-cart-pricing {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.mini-cart-content .mc-item-price {
		display: block;
		float: none;
		font-size: 14px;
		margin-bottom: 0;
		padding: 0 10px;
		position: static;
		top: 0;
		width: 100%;
	}
	.mini-cart-link-checkout {
		height: auto !important;
	}
	.home-bottom-slots h1.heading-top, .home-bottom-first h1.heading-top {
		font-size: 20px !important;
	}
	.home-bottom-slots .col-xs-12 {
		margin-bottom: 20px;
	}
	.home-bottom-slots {
		padding-top: 30px;
		padding-bottom: 0;
	}
	.home-bottom-first {
		background-color: #ffffff;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.home-bottom-first .home-small {
		bottom: 0;
		left: 0;
		margin: 0 15px;
		position: absolute;
	}
	#main h1 {
		font-size: 20px;
	}
	.home-bottom-banner {
		display: none;
	}
	.home-bottom-first {
		-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	}
	.home-bottom-first .home-more-kuiu {
		margin-bottom: 0;
	}
	.home-bottom-first .home-more-kuiu > p{
		padding:0 50px;
	}
	.home-bottom-first img {
		float: left;
		width: 120px;
	}
	.home-bottom-first .home-small {
		bottom: 0;
		float: none;
		left: 0;
		margin: 0 0 0 120px;
		position: relative;
		padding: 22px 10px;
	}
	.home-bottom-slots .home-first, .home-bottom-first .home-small { 
		height:auto;
	}
	.home-bottom-slots .home-first p, .home-bottom-first .home-small p {
		display: none;
	}
	
	#main .home-bottom-slots .home-first h1, 
	#main .home-bottom-first .home-small h1 {
		line-height:120%;
	}
	
	.home-bottom-slots .home-first h1, .home-bottom-first .home-small h1 {
		font-size: 16px !important;
	}
	.home-bottom-first .home-small {
		height: 110px !important;
	}
	.ui-dialog input[type="text"] {
		width: 100%;
	}
	.ui-dialog .form-row.form-row-button {
  		padding-bottom: 0px;
  		width: 80%;
  		margin-left: 20px;
	}
	.ui-dialog .form-row {
  		padding-bottom: 15px !important;
	}
	ul.menu-category.level-1 li#menu-space1 .level-2 {
		padding-left: 0px;
	}
	ul.menu-category.level-1 li#menu-space2 .level-2 {
	 	padding-left: 0px;
	}
	ul.menu-category.level-1 li#menu-space3 .level-2 {
		padding-left: 0px;
	} 
	
	/* footer social icons */
	#homepage-slides .slide {
		/*height: 335px;*/
	}
	
	.home-slider-wrap {
		height:auto;
	}
	
	#homepage-slider .jcarousel-control {
	  	bottom: inherit;
	    clear: both;
	    display: table;
	    overflow: hidden;
	    position: absolute;
	    top: 300px;
	    z-index: 5;
	    width: 63px;
	 }
	 
	 #homepage-slider {
	    min-height: 0;
	    min-width: 100%;
	    overflow: hidden;
	    position: relative;
	}
	
	#homepage-slides {
		height:auto;
		min-height:0;
		overflow:inherit;
		position:relative;
		padding:0;
	}
	
	#homepage-slides .slide .slider-image {
		height:330px;
		-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	}
	
	#homepage-slides .slide .inner-box {  
		bottom: inherit;
    	margin-top: 0;
    	position: relative;
    	width: 100%;
    	background-color: transparent;
    	height: auto;
    	padding:0px 15px 10px;
	}
	
	#homepage-slides .slide .inner-box h1 {
		color: #1a1a1a;
	    font-size: 20px;
	    letter-spacing: 0;
	    padding-top: 25px;
	    white-space: nowrap;
	    margin:0 0 5px;
	}
	
	#homepage-slides .slide .inner-box h3 {
		font-family: "Times New Roman", Georgia, Serif;
		font-size:13px;
		margin:0;
		color:#1a1a1a;
	}
	#homepage-slides .slide {
		min-height:330px;
		position:relative;
		background-size:auto 330px;
		background-position:right top;
		background-repeat: no-repeat;
		height:auto;
		overflow:visible;
		  background-position-x: 50%;
	}
	
	#homepage-slides .slide .inner-box button {
		 background-color: #1a1a1a;
		 color:#fff;
		 margin-top:10px;
	}
	#homepage-slider .jcarousel-prev, #homepage-slider .jcarousel-next {
		top:130px;
		margin-top:0;
	}
	
	#homepage-slider .jcarousel-scroll {
		display:none;
	}

	 .ui-dialog .form-row.form-row-button {
	 	margin-left:0;
	 	width:100%;
	 }
	 
		.social-icon ul.social-links li a.fb {
			background-position: 120px 116px;
		}
		.social-icon ul.social-links li a.twitter { 
			background-position: 90px 116px;
		}
		.social-icon ul.social-links li a.youtube { 
			background-position: 60px 116px;
		}
		.social-icon ul.social-links li a.linkedin { 
			background-position: 30px 116px;
		}
	
	#main .categoryheader .btn-refineby {
		width:auto;
	}
	
	.refinements .refinements-wrap .refinement {
		display:block;
		width:100%;
		border-bottom:1px solid #dcdcdb;
		margin-bottom:18px;
		padding:0;
		border-left:none;
	}
	
	.refinement h3.toggle {
		background-image: url("../images/arrow_down.png");
  		background-repeat: no-repeat;
  		background-position: right center;
  		cursor: pointer;
	}
	
	.refinement .clear-refinement {
		right: 30px;
		top: 0;
		z-index: 10;
	}
	
	/*#main .categoryheader .sort-by form select {
		background-position:95% 11px;
	}*/
	
	#main .categoryheader .sort-by {
		margin:0 0 0 8px;
	}
	
	.refinements-breadcrumb .breadcrumb {
		margin-left:10px;
		margin-right:10px;
		position: relative;
  		padding-right: 63px;
	}
	
	.refinements-breadcrumb #clearallrefinements {
		position: absolute;
  		top: 8px;
  		right: 0;
	}
	
	.page-banner-main {
		height:335px;
		-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	}
	
	.page-banner-second {
		height:225px;
	}
	
	#main .cl-section-title {
		margin:30px 0 0;
	}
	
	.cl-section-categories,
	.cl-gear-categories {
		margin:30px 0 0;
	}
	
	.cl-section-categories .cl-section-category {
		display:block;
		width:50%;
		margin-bottom:30px;
		float:left;
	}
	
	.cl-gear-categories .cl-gear-category {
		display:block;
		margin: 0 0 30px;
	}
	
	.cl-section-categories .cl-section-category:nth-child(even) {
		border-right:none;
	}
	
	.cl-gear-categories .cl-gear-category:nth-child(even) {
		border-right:none;
	}
	
	.by-system-section {
		-webkit-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	}
	
	.story-landing > .row {
		margin-left:inherit;
		margin-right:inherit;
	}
	
	.story-landing .row .col-xs-12 {
		margin-bottom:20px;
	}

	.story-landing img {
	    float: left;
	    width: 120px;
	}
	
	.story-landing .info-panel {
		bottom: 0;
		left: 0;
		margin: 0 15px;
		position: absolute;
	}
	
	.story-landing .info-panel {
		bottom: 0;
		float: none;
		left: 0;
		margin: 0 0 0 120px;
		position: relative;
		padding: 22px 10px;
	}
	
	.story-landing .info-panel p {
		display: none;
	}
	
	.story-landing .info-panel h1 {
		font-size: 16px !important;
	}
	
	.story-landing .info-panel {
		height: 110px !important;
	}
	
	.menu-category {
		width:100%;
		float:none;
	}
	
	.no-design #secondary {
		border-right:none;
	}
	
	#main .no-design #primary {
		padding-left:inherit;
		border-left: none;
	    left: 0;
	}
	
	#main .no-design #secondary {
		padding-right:inherit;
	}
	.pt_customer-service .primary-content.col-md-9 .col-md-9 {
		padding-left:10px;
	}
	
	#main form .form-row-button {
		margin-left:0;
	}
	
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-xs-4 {
		padding-left:0px;
		padding-right:0px;
		margin-top:0px;
	}
	
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3 {
		margin-top: 10px;
	}
	.search-result-items li.grid-tile .product-tile .product-image img {
  		height: 300px;
  		width:234px;
	}
	.search-result-items li.grid-tile {
		padding-left:0px;
		padding-right:0px;
		height: auto;
		border-right:none;
		width:100%;
		margin: 0px;
		padding-bottom: 20px;
	}
	
	.pt_product-search-result .primary-content .search-result-content  .container .row {
		margin-left:0px;
		margin-right:0px;
	}
	
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:nth-last-child(-n+4) {
		border-bottom:1px solid #e6e6e6;
	}
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:last-child {
		border-bottom:none;
	}
	.product-tile .product-swatches ul.swatch-toggle {
		  position: relative;
		  background: none;
  		  border: none;
  	      padding: 0px;
  	      display: block;
  	      margin-top:0px;
  	      height: auto;
	}
	
	.product-tile .product-swatches-all,.quickview-container,.pdp-main .product-thumbnails {
		  display:none;
	}
	.pdp-main .product-primary-image img.primary-image {
    	width: 300px;
    	height: auto;
	}
	#main .pdp-main .product-add-to-cart button {
		float: none;
	}	
	.addthis_toolbox.addthis_default_style {
		margin-left:18%;
	}
	.pdp-main .product-price {
		font-size:20px;
		clear:both;
	}
	
	.col-1 {
	width:100%;
	}
	
	.col-2 {
		width:100%;
	}
	
	.login-box-content {
    padding: 0;
	}
	
	.pt_giftcert #main .no-design {
		margin-top:20px;
		margin-bottom:20px;
	}
	
	.gift-certificate-purchase .content-asset {
		padding-top:70px;
		padding-bottom:70px;
	}
	
	.pt_giftcert #main .form-row {
		margin-bottom:10px;
	}
	
	.pt_giftcert .char-count {
		margin-left:0;
	}
	
	#main .no-design.full-fields form .form-row-button {
		margin-top:10px;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap {
		margin-top:30px;
	}
	
	.gift-certificate-purchase .content-asset {
		
	}
	
	.gift-certificate-purchase .content-asset img {
		max-width:90%;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap form fieldset {
		width:300px;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap .gift-cert-balance {
		width:190px;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap .gift-cert-balance-submit {
		width:100px; 
		
	}
	
	.pt_giftcert #main .gc-check-balance-wrap .gift-cert-balance-submit button {
		padding: 0 0;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap .balance-status {
		padding-top:10px;
	}
	
	.pt_giftcert #main .no-design #primary {
		padding:0;
	}
	
	/*Product detail page styling*/
	
		.pdp-main .product-details {
		padding-bottom: 0px;
	}
	.pdp-main .pdp-des-content {
		border-bottom: none;
	}
	.pdp-main .accordion-main {
		background-color: #fafafa;
		padding-top: 20px;
		-moz-box-shadow: inset 0 8px 8px -8px #696868;
		-webkit-box-shadow: inset 0 8px 8px -8px #696868;
		box-shadow: inset 0 8px 8px -8px #696868;
	}
	.pdp-main .accordion-main .ui-accordion .ui-accordion-header {
		border-top: 2px solid;
		border-bottom: 2px solid;
		text-align: center;
		font-size: 16px;
		margin: -2px 0 0;
	}
	.pdp-main .accordion-main .ui-accordion .ui-accordion-icons {
		padding-left: 0px;
	}
	.pdp-main .accordion-main .ui-accordion .ui-accordion-content.accordin-content h4,
		.pdp-main .accordion-main .m-tech-text {
		text-align: center;
		font-size: 16px;
		padding-top: 20px;
		font-family: "Times New Roman", Georgia, Serif;
		text-transform: uppercase;
	}
	.pdp-main .accordion-main .ui-accordion .ui-accordion-content {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
		margin: 10px 0;
	}
	.pdp-main .accordion-main .ui-accordion .ui-accordion-content .technology-container
		{
		padding: 15px 0;
		overflow: hidden;
	}
	.pdp-main .accordion-main .ui-accordion.accordin-content .pdp-overview-content p
		{
		font-size: 14px;
	}
	#accordion.ui-helper-reset {
		padding-bottom: 30px;
	}
	.pdp-main .accordion-main .pdp-overview-content p, .pdp-main .accordion-main .technology-container p.pdp-overview-content
		{
		font-size: 14px;
		line-height: 19px;
		font-family: "Times New Roman", Georgia, serif;
		padding: 20px 10px;
	}
	.pdp-main .product-technology .overview-img, .pdp-main .product-technology2 .overview-img,
		.pdp-main .product-technology3 .overview-img {
		text-align: center;
	}
	.pdp-main .product-set-list .product-set-image, .pdp-main .product-set-list .product-set-details
		{
		width: 100%;
	}
	.pdp-main .product-set-list .product-set-image img {
		width: 277px;
		height: 355px;
	}
	.pdp-main .product-set-main .product-set-list .block-add-to-cart button
		{
		width: 72% !important;
	}
	.pdp-main .product-set-main .product-set-list .product-set-image {
		padding-top: 0px;
	}
	.pdp-main .product-set-main .product-primary-image {
		border-bottom: none;
	}
	.pdp-main .product-set-main .product-set-list .product-set-details {
		padding-left: 0px;
	}
	#main .product-set-main .product-set-details h1.product-name {
		margin-top: 0px;
	}
	.pdp-main .product-set-main .product-variations>ul {
		margin-top: 0px
	}
	.pdp-main .product-set-main .product-set-image {
		text-align: center;
		float: none;
	}
	.pdp-main .product-image-container {
		position: relative;
	}
	.product-new-tag {
		top: 0;
		margin-left: 0
	}
	.pt_product-details .primary-content {
		padding-bottom: 0;
	}
	.pdp-main .recommendations {
		padding: 20px 0;
	}
	.pdp-main .recommendations h2 {
		margin: 0 0 10px;
	}
	
	.pdp-main #owl-demo1 .product-image.recommendation_image a img {
		height: 290px;
	}
	.pdp-main .recommendations .product-tile {
		border-right: none;
	}
	.cl-gear-categories .cl-gear-category span, .cl-section-categories .cl-section-category span
		{
		padding: 0px;
		margin-top: 10px;
		bottom: 0px;
		position: static;
	}
	.cl-section-categories .cl-section-category {
		padding: 10px 20px 0;
	}
	
	.mobile-short-description {
		margin:20px 0;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	#main label {
		width: 100%;
	}
	#main input[type="text"], #main input[type="number"], #main input[type="password"],
		#main select, #main textarea {
		width: 100%;
		clear: both;
	}
	.menu-category.level-1>li>a {
		
	}
	.home-slider-wrap {
		height:550px;
	}
	#homepage-slider .jcarousel-control {
		top:490px;	
	}
	
	.header-right {
		/* border-top: 1px solid #dfdfdf;
		clear: both;
		display: block;
		margin: 0;
		padding-top: 10px; */
		
	}
	.header-right.pull-right {
		/* float: none !important;
		width: 100%; */
		
	}
	.header-right-content {
		/* clear: both;
		display: block;
		margin: 0 auto 16px auto;
		text-align: center;
		width: 236px; */
		
	}
	ul.menu-category.level-1 li#menu-space1 .level-2 {
		padding-left: 115px;
	}
	ul.menu-category.level-1 li#menu-space2 .level-2 {
	 	padding-left: 212px;
	}
	ul.menu-category.level-1 li#menu-space3 .level-2 {
		padding-left: 308px;
	} 
	
	ul.menu-category li a {
		padding: 15px 10px;
	}
	.header-search {
		width: 135px;
	}
	header #mini-cart {
		padding-left: 10px;
	}
	.menu-category.level-1>li>a {
		min-width: 95px;
		padding: 15px 5px;
		text-align: center;
		font-size: 14px;
	}
	.social-icon {
		float: right;
	}
	footer .footer-privacy {
		clear: both;
		display: block;
		float: left;
		margin-top: -25px;
		position: relative;
		width: 70%;
	}
	.home-bottom-slots {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.home-bottom-first {
		background-color: #ffffff;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.home-bottom-first .home-small {
		bottom: 0;
		left: 0;
		margin: 0 15px;
		position: absolute;
	}
	
	/* home slider styles */
	#homepage-slides .slide {
		/*height: 550px;*/
	}
	
	#homepage-slides .slide .inner-box h1 {
		font-size:30px;
		margin-bottom:10px;
	}
	
	#homepage-slides .slide .inner-box h3 {
		margin-top:0;
	}
	
	#homepage-slides .slide .inner-box {
		width:80%;
	}
	
	.refinements .refinement.category-refinement {
		border-left:none;
	}
	
	.page-banner-main {
		height:475px;
	}
	
	.page-banner-second {
		height:225px;
	}
	
	#main .cl-section-title {
		margin:30px 0 0;
	}
	
	.cl-section-categories,
	.cl-gear-categories {
		margin:30px 0 0;
	}
	
	.cl-section-categories .cl-section-category {
		display:block;
		width:50%;
		margin-bottom:30px;
		float:left;
	}
	
	.cl-gear-categories .cl-gear-category {
		display:block;
		margin:0 0 30px;
	}
	
	.cl-section-categories .cl-section-category:nth-child(even) {
		border-right:none;
	}
	
	.cl-gear-categories .cl-gear-category:nth-child(even) {
		border-right:none;
	}
	
	.story-landing > .row {
		margin-left:10%;
		margin-right:10%;
	}
	
	.header-logo {
		display: block;
		float: left;
		margin: 16px;
		width:84px;
	}
	
	.top-banner .header-nav {
		margin-left:116px;
	}
	
	.menu-utility-user .phone {
		display:none;
	}
	
	.ui-dialog label, #main form label {
		width:100%;
	}
	
	.search-result-items li.grid-tile {
		padding-left:0px;
		padding-right:0px;
		height: 400px;
		border-right:1px solid #e6e6e6;
		width:100%;
	}
	
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:nth-of-type(3n) li.grid-tile {
		border-right:none;
	}
	
	.search-result-items .col-md-3:nth-of-type(4n) li.grid-tile {
		border-right:1px solid #e6e6e6;
	}
	.search-result-items li.grid-tile .product-tile .product-image img {
  		height: 257px ;
  		width: 209px ;
	}
	.product-new-tag {
		margin-left: 12px;
		margin-top: 6px;
	}
		
	.product-tile .product-swatches ul.swatch-toggle {
		margin-top: 15px;
	}
	.grid-tile .product-tile .product-swatches {
		padding-top: 20px;
	}
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:nth-last-child(-n+4) {
		border-bottom:1px solid #e6e6e6;
	}
	.weather_badage {
		float:left;
		width:100%;
		margin-top: 0px;
		border-left:none;
	}
	.pdp-main .top-section,.product-variations .attribute .value {
		width:100%;
	}
	.pdp-main h1.product-name,#main .pdp-main .product-overview .overview-top h1 {
		font-size: 26px;
	}
	.weather_badage_icon {
		margin-left:0px;
	}
	.pdp-main .product-primary-image img.primary-image {
		width:410px;
		height:auto;
	}
	.pdp-main .product-overview .container-with-image .col-sm-6 .pdp-overview-content {
		overflow-y: scroll;
    	height: 355px;
    	overflow-x: hidden;
	}
	.pdp-main .product-overview .pdp-overview-content p {
		font-size: 14px;
		padding-right:30px;
	}
	.pdp-main .product-overview .overview-top p {
		font-size: 16px;
	}
	::-webkit-scrollbar {
    	width: 4px;
    	height:20px;
	}
	::-webkit-scrollbar-track {
    	border-radius: 2px;
    	-webkit-box-shadow: inset 0 0 6px #cccccc; 
    	height:20px;
	}
 
	::-webkit-scrollbar-thumb {
    	border-radius: 2px;
    	-webkit-box-shadow: inset 0 0 6px #cccccc; 
	}
	.product-details {
		padding-bottom:40px;
	}
	.addthis_toolbox.addthis_default_style {
		margin-left: 55px;
	}
	
	.pt_giftcert #main .no-design {
		margin-top:35px;
		margin-bottom:25px;
	}
	
	.pt_giftcert #main .form-row {
		margin-bottom:10px;
	}
	
	.pt_giftcert .char-count {
		margin-left:0;
	}
	
	#main .no-design.full-fields form .form-row-button {
		margin-top:10px;
	}
	
	.pt_giftcert #main .gc-check-balance-wrap {
		margin-top:30px;
	}
	
	.gift-certificate-purchase .content-asset {
		text-align:left;
	}
	
	.gift-certificate-purchase .content-asset img {
		max-width:90%;
	}
	
	/*PDP styling*/
	
	.pdp-main .product-technology .overview-img, .pdp-main .product-technology2 .overview-img,
		.pdp-main .product-technology3 .overview-img {
		text-align: center;
	}
	.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:nth-last-child(n+2)
		{
		boder-bottom: 1px solid #fff;
	}
	.pdp-main #owl-demo1 .product-image.recommendation_image a img {
		width: 383px;
		height: 275px;
	}
	.pdp-main .recommendations .product-tile {
		height: 340px;
	}
	.pdp-main #owl-demo .owl-item img {
		width: 100%;
	}
	.header-search button {
		background-position: 5px 5px;
	}
	.pdp-main .product-overview .pdp-overview-content p, 
	.pdp-main .product-technology p.pdp-overview-content,
	.pdp-main .product-technology2 p.pdp-overview-content, 
	.pdp-main .product-technology3 p.pdp-overview-content {
		padding: 0 0 20px;
	}
	
	.pdp-main .product-set-main .product-set-list .availability span.label {
		width:35%;
	}
	
	.pdp-main .product-set-main .product-set-list .block-add-to-cart button {
		width:65%;
	}
	
	
}

@media ( min-width : 992px) and (max-width: 1199px) {
	
	.menu-category.level-1>li>a {
		
	}
	
	/*.menu-category .level-2 {
		padding-left: 115px;
	}*/
	
	.home-bottom-first img {
		width: 100%;
		letter-spacing: 0;
	}
	
	ul.menu-category.level-1 li#menu-space1 .level-2 {
	  padding-left: 133px;
	}
	
	ul.menu-category.level-1 li#menu-space2 .level-2 {
	   padding-left: 234px;
	}
	
	ul.menu-category.level-1 li#menu-space3 .level-2 {
		padding-left: 356px;
	}
	
	#homepage-slides .slide {
		/*height: 650px;*/
	}
	
	#homepage-slides .slide .inner-box h1 {
		font-size:32px;
		letter-spacing: 2px;
	}
	
	#homepage-slides .slide .inner-box  {
		width :75%;
	}
	
	.story-landing > .row {
		margin-left:5%;
		margin-right:5%;
	}
	
	.header-logo {
		display: block;
		float: left;
		margin: 16px;
		width:84px;
	}
	
	.top-banner .header-nav {
		margin-left:116px;
	}
	
	.pt_customer-service #secondary {
		padding-left:50px;
	}
	
	.pt_customer-service .primary-content.col-md-9 .col-md-9 {
    	padding-left: 50px;
	}
	
	.gift-certificate-purchase .content-asset img {
		max-width:80%;
	}
	
	.home-slider-wrap {
		height:550px;
	}
	#homepage-slider .jcarousel-control {
		top:490px;	
	}
	
	/*PDP Styling*/
	.weather_badage_icon {
		margin-left: 6px;
	}
	.pdp-main #owl-demo1 .product-image.recommendation_image a img {
		width: 383px;
		height: 275px;
	}
	
}

@media ( min-width : 1200px) and (max-width: 1439px) {
}

@media ( min-width : 1440px) {
	.container {
		width: 1340px;
	}
}