.search-result-items li.grid-tile {
	width:100%;
	margin: 0;
  	padding: 0;
  	box-shadow: none;
  	background: none;
  	margin-bottom: 16px;
  	height: 485px;
	border-right:1px solid #e6e6e6;
}

.pt_product-search-result .primary-content, .pt_content-search-result .primary-content {
	 background: transparent;
}
.product-tile .product-name,.product-tile .product-pricing {
	 text-align: left;	
}
.product-tile .product-name a {
	font-size:13px;
	color:#2b2b2b;
    font-family: "Times New Roman", Georgia, Serif;
}
 .product-tile .product-pricing {
 	font-size:12px;
	color:#2b2b2b;
	font-family: 'Roboto', sans-serif;
	padding-left: 18px;
 }
.product-tile .product-name {
    height: 18px;
    overflow: hidden;
    margin-top: 25px;
    padding-left: 18px;
}

#main .product-compare label {
	padding:0px;
	font-size:11px;
	font-family: 'Roboto', sans-serif;
	color:#2b2b2b;
	font-weight : 400;
	margin-left: 6px;
  	line-height: 14px;
}

.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3 {
	border-bottom: 1px solid #dadad9;
    padding-left:0px;
	padding-right:0px;	
	margin-top:20px;
}
/*.product-tile .product-compare {
	 padding-left: 1px;
}

.search-result-options .container {
}

.compare-items,.search-result-options {
	margin:0px;
	padding: 0px;
}
*/

.search-result-items .col-md-3:nth-of-type(4n) li.grid-tile {
	border-right:none;
	}

.search-result-items li.grid-tile .product-tile .product-image img {
	height: 355px;
  	width: 277px;
 }

.search-result-options {
	margin:0px;
}

.product-swatches { 
  padding-left: 18px;
}
.product-tile .product-swatches .swatch {
   width: 26px;
   height: 26px;
   border-radius: 50%;
}

.product-tile .product-swatches .swatch img {
  border: 2px solid #c3c3c3;
  height: 26px;
  padding: 1px;
  width: 26px;
  border-radius: 50%;
  max-width: none;
}
.grid-tile .product-tile .product-swatches {
	float:left;
	padding-top: 10px;
}
.product-tile .product-swatches li {
	margin-right: 4px;
}

.product-tile .product-swatches ul.swatch-toggle {
  background: #fff;
  width: 198px;
  height: 65px;
  padding: 20px 8px;
  border: 1px solid #c3c3c3;
  z-index: 111;
  margin-top: 8px;
}

.product-tile .product-swatches-all ,.quickview-container a {
   color:  #2b2b2b;
   font-size:11px;
   font-family: 'Roboto', sans-serif;
   float: left;
}
.product-tile .product-swatches-all {
	padding-top:5px;
}

.pt_product-search-result .quickview-container {
  clear: both;
  text-align: left;
  padding-left: 18px;
  padding-top: 8px;
}

.product-new-tag {
	width: 48px;
    height: 29px;
	background-image: url("../images/interface/new_tag.png");
	margin-left: 15px;
  	margin-top: 5px;
  	position: absolute;
  	z-index: 111;
}

/*.pt_product-search-result .primary-content .search-result-content .search-result-items .col-md-3:nth-last-child(-n+4) {
	border-bottom:none;
}*/

.pdp-main .product-col-1,.pdp-main .product-col-2,.pdp-main .recommendations {
	width:100%;
	margin:0px;
	text-align: left;
}

.pdp-main .top-section {
	width:75%;
	float: left;
}
.pdp-main h1.product-name {
	margin:0px;
	font-style: normal;
    width: initial;
    text-align: left;
}

.pdp-main .product-price {
	font-size:22px;
	color:#1d1512;
}
.weather_badage{
    float: right;
    width: 25%;
    border-left: 1px solid #e6e6e6;
    margin-top: 35px;
}
.weather_badage_icon {
   background-image: url("../images/interface/weather_icon.png");
   height: 23px;
   width: 28px;
   float:left;
   margin-left: 10px;
   margin-bottom: 8px;
}

.weather_badage_icon.productBadgeRain {
	background-position: 0px -2px;
}
.weather_badage_icon.productBadgeSnowFlake {
	background-position: 92px -2px;
}

.weather_badage_icon.productBadgeSun {
	background-position: 28px -2px;
}
.weather_badage_icon.productBadgeWind {
	background-position: 64px -2px;
}
.pdp-main .pdp-des-content {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 30px;
}
.pdp-main .pdp-des-content ul {
	line-height: 24px;
	list-style: inherit;
	padding-left: 15px;
}
.pdp-main .pdp-des-content a {
	color:#1d1512;
	font-size:13px;
	font-family: "Times New Roman", Georgia, Serif;
	font-style: italic;
    text-decoration: underline;
}
.pdp-main .pdp-des-content p {
	font-size:12px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}
.pdp-main .product-variations .attribute {
	margin-top:20px;
}
.pdp-main .product-variations .attribute .value {
	float:left;
	margin-top: 7px;
	width:100%;
}
.pdp-main .product-variations .attribute .label {
	color:#000000;
	font-size:13px;
	width: 100%;
    padding: 0px;
    text-align: left;
    float: none;
    font-weight: 500;
    text-transform: none;
}
.pdp-main .product-variations .attribute .value-color ,.pdp-main .product-variations .attribute .value-size{
	font-size:14px;
	font-weight: 600;
}
.pdp-main .product-variations,.pdp-main .availability-block .availability span.label{
	margin-left:0px;
	padding:0px;
	float: left;
}
.pdp-main .product-variations .color li {
   width: 30px;
   height: 32px;
   border-radius: 50%;
   margin-right: 6px;
}
.pdp-main .product-variations .color li a img,.pdp-main .product-variations .swatches.size li a  {
  border: 2px solid #c3c3c3;
  height: 30px;
  padding: 1px;
  width: 30px;
  border-radius: 50%;
  color:#000;
  line-height: 22px;
}

.product-variations .attribute .selected-value,.pdp-main .availability-block .availability span.label {
	font-size:14px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color:#000;
    float: left;
}
.pdp-main .product-variations .color li a,.pdp-main .product-variations .color li:hover,.pdp-main .product-variations .color li.selected {
	border:none;
}

.pdp-main .product-add-to-cart,.pdp-main .product-actions {
	background: none;
	padding: 0px;
}
.pdp-main .product-add-to-cart .inventory {
	width: 15%;
	margin-top:0px;
}
#main .pdp-main input[type="text"] {
	text-align: center;
	width: 100%;
	height: 50px;
}
.pdp-main p.in-stock-msg,.pdp-main p.is-in-stock, [data-status="store-in-stock"] {
    color: #81031b;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 14px;
}

#main .pdp-main .product-add-to-cart button {
	float: left;
    width: 81%;
    margin-left: 10px;
    height: 50px;
    margin-top: 34px;
}
.pdp-main ul.menu li a {
	color:#000;
}

.addthis_button_compact , .addthis_button_myspace, .addthis_button_google {
	display:none;
}
.addthis_toolbox.addthis_default_style {
	margin-left:66px;
}
.at4-icon.aticon-facebook,.at4-icon.aticon-twitter{
	background-color:#000 !important;
	border-radius: 50%;
}

.pdp-main .product-primary-image img.primary-image {
	width: 585px;
    height: 749px;
}
.product-thumbnails .productthumbnail {
    border: 1px solid #e6e6e6;	
}
.pdp-main .product-thumbnails .thumb {
	border-top:none;
	border-bottom:2px solid #fff;
	margin: 0px 10px 0 0;
	width: 53px;
	padding-bottom: 5px;
}
.pdp-main .product-thumbnails .thumb.selected {
	border-color: #000;
	padding-bottom: 4px;
}

.pdp-main .product-thumbnails .productthumbnail {
	width: 53px;
    height: 64px;
}
.youtubevideo {
	width: 53px !important;
    height: 64px !important;
    margin:0px;
    background-size: 88% 87%;
    border: 1px solid #000;
    background-position: center center;
    border: 1px solid #e6e6e6;
}

.youtubevideo .play {
	background: url("../images/interface/play_icon.png") no-repeat center center;
}
.pdp-main .product-add-to-cart .inventory label {
	clear: both;
	float:none !important;
}

.pdp-main  .product-overview {
	background-color: #fafafa;
 	-moz-box-shadow:    inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;
     box-shadow:        inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;

}
.pdp-main .product-overview .overview-top h1 {
	margin:0px;
	margin-top:0px !important;
	color:#2b2b2b;
	padding-top:40px;
}
.pdp-main .product-overview .overview-top p {
	text-transform: uppercase;
    font-size:18px;
    font-family: "Times New Roman", Georgia, Serif;
	margin:0px;
	color:#2b2b2b;
}

.pdp-main .product-overview .pdp-overview-content p {
	font-size:15px;
	line-height: 22px;
	margin:0px;
	font-family: "Times New Roman", Georgia, Serif;
    padding:  35px 22px 20px 0;
}
.pdp-main .product-overview .pdp-overview-content ul {
	list-style: initial;
    padding-left: 15px;
    line-height: 24px;
}

.pdp-main .product-overview .pdp-overview-content h4 {
	font-size:16px;	
}

.pdp-main .product-overview .overview-img {
	padding-top:45px;
}
.pdp-main .product-details {
	padding-bottom:23px;
}
.product-tile.tooltip {
	opacity: 1;
}

.pdp-main .recommendations .jcarousel-nav {
	z-index: 22;
	position: static;
}