@media (min-width: 320px) {	
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {	
}
@media (min-width: 1200px) {	
}


@media (min-width: 320px) and (max-width: 479px) {
.login-box-content label, label, .form-caption, .form-label-text {width:auto;}
.pt_customer-service .primary-content.col-md-9 .col-md-9 {min-height: 100px;border-right: none;}
input[type="text"], input[type="password"], textarea, select {
  width: 100% !important;
}
.form-row-button,button,input[type="button"] {
	width:100%;
}
select {
	  background-position: 280px 8px;
}
.pt_customer-service #secondary {
	border-right: none;
	width: 100%;
	margin-left: 20px;
	
}

}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1439px) {

}
@media (min-width: 1440px) {
	.container {
		width: 1400px;
	}
}
