body{
  background-color: #fff;
  color: #1D1512;
  font-family: Times New Roman;	
}

.pt_account, .pt_wish-list,#main  {
	background-color: #fff !important;
}
.primary-content h1 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0 0 14px; 
}
#secondary {
	border-right: 1px solid #e0e0e0;
}
#secondary .secondary-navigation .toggle {
	font-weight: 600;
}
#secondary .secondary-navigation ul {
	padding: 0;
}
#secondary .secondary-navigation ul li {
	list-style-type: none !important;
}
.account-nav-asset {
	margin: 0;
	padding:0;
}
.account-nav-asset h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
}
.breadcrumb {
	margin-left: 0;
	margin-right: 0;
}
label {
  display: block;
  float: left;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.5em 0.5em 0 0;
  text-align: right;
  width: 22%; 
}
.input-text {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-text::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-text:-ms-input-placeholder {
  color: #999;
}
.input-text::-webkit-input-placeholder {
  color: #999;
}
.input-text[disabled],
.input-text[readonly],
fieldset[disabled] .input-text {
  background-color: #eee;
  opacity: 1;
}
.input-text[disabled],
fieldset[disabled] .input-text {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
.form-indent {
	margin-left: 22%;
}
.content-asset .account-option .acc-list {
	
}
.content-asset .account-option .acc-list a {
	display: block;
	font-size: 1.5em;
	line-height: 2.5em;
	overflow: visible;
	/* padding: 0 0 0 4.58em;  */
}
.content-asset .account-option .acc-list img {
	position: relative;
	top: .47em;
}
.content-asset .account-option .acc-list p {
    margin: 0 0 15px;
    padding-left: 4.58em;
  	padding-bottom: 15px;
  	border-bottom: 1px solid #e0e0e0;
}
fieldset.search-box {
	border: 1px solid #e0e0e0;
	background-color: #f6f6f6;
	padding: 15px 0;
}
.form-group .form-row {
	float: none;
	margin: 0;
	width: auto;
}
.form-inline .form-group .form-row label {
	padding: 0;
	text-transform: capitalize;
}
#main {
	min-height:495px;
}

.container {
	padding-left: 0;
	padding-right: 0;
}


/*Contact us Page */
.pt_customer-service #secondary .secondary-navigation .toggle {
    font-size: 16px;
    font-family: "Times New Roman";
}
    
.pt_customer-service #secondary nav .secondary-navigation .toggle {
	padding: 0px;
	cursor: pointer;
}

.pt_customer-service #secondary .secondary-navigation ul li {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
}

.pt_customer-service #secondary .secondary-navigation ul {
	border-bottom:1px solid #e0e0e0;
}
.pt_customer-service #secondary .secondary-navigation ul:last-child {
	border-bottom:none;
}
.pt_customer-service #secondary nav a {
	  margin-left: 0px;
}

.pt_customer-service #secondary .secondary-navigation ul li:last-child {
	 margin-bottom:15px !important;
}

.pt_customer-service #primary .account-nav-asset {
	background:none;
	padding:0px;
}
.pt_customer-service #primary .account-nav-asset h2 {
	 color: #2b2b2b;
}
.pt_customer-service #primary .account-nav-asset a  {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#2b2b2b;
}

.pt_customer-service #main .container#cust-service {
	padding-bottom:50px;
	padding-top: 20px;
}
.pt_customer-service #main h1 {
	font-size:32px;
	line-height:20px;
	font-family: "Times New Roman";
	text-transform: uppercase;
	margin-top: 29px;
}

.pt_customer-service  .primary-content.col-md-9 .col-md-9  {
    min-height: 1100px;
  	border-right: 1px solid #e0e0e0;
}

input[type="text"], input[type="number"], input[type="password"],select,textarea {
  width: 330px;
  height: 28px;
  border: 1px solid #e1e1e1;
  border-radius: 0px;
  padding: 0px; 
  -webkit-box-shadow:none;
  box-shadow:none;
  margin-bottom: 22px;
  margin-left: 0;
}
.required-indicator {
	color:#1d1512;
}
.error {
	  border-color: #b2595c;
	  color :#b2595c;
}
span.error {
	margin: 1% 2% 0% 22%;
}

button, .button, .buttonstyle, input[type="button"] {
  height: 36px;
  background-color: #000;
  font-size: 12px;
  border: none;
  padding: 0 30px;
  border-color: transparent;
  border-radius: 0px;
  border-style: none;
  border-width: 0px;
}
  button:hover, .button:hover, .buttonstyle:hover, input[type="button"]:hover {
    background-color: #7f7f7f;
    border-color: #e0e0e0;
    border-with:2px;
    color: #7f7f7f; }
    
.pt_customer-service  #main .row {
 	 margin-right: 0px;
 	 margin-left: 0px;
}

.pt_customer-service label {
	text-align: left;
	}

select
{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	margin-left:0px;
	background-image: url("../images/arrow_down.png");
	background-repeat: no-repeat;
	background-position: 300px 8px;
	cursor: pointer;
}
  button:hover, .button:hover, .buttonstyle:hover, input[type="button"]:hover {
    background-color: #000;
    border-color: #000;
    color: #fff; 
    }
textarea {
	height:88px;margin-left:0px;
	}
.contact_us_img {
	background-image: url("../images/contact_us_ban.png");
	background-size:cover;
	height:360px;
}

.social-links.links-size {
	background-position: 0px 26px;
	margin-bottom: 15px;
 	margin-top: 10px;
}