.ui-dialog.bonus-product-popup .bonus-product-alert,
.ui-dialog.bonus-product-popup .bonus-product-promo {
	    padding-bottom: 15px;
	    padding-top: 5px;
}
.ui-dialog.bonusproduct-quickview-container .product-add-to-cart .inventory label,
.ui-dialog.bonusproduct-quickview-container .quantity-error  {
		width:100%;
}
.ui-dialog.bonusproduct-quickview-container .bonus-product-list .product-add-to-cart button {
		width:56%;
}

.pt_cart .bonusproducts {
	clear:both;
}
.pt_cart .rowcoupons .item-details .discount .label {
	margin-left:-2px;
}
.pt_cart tr.cart-promo,.pt_cart  td.cart-promo {
	background: transparent;
	font-size: 12px;
    font-weight: 500;
    padding: 25px 0;
}
.ui-tooltip.ui-widget-content {
	border:2px solid #e6e6e6;
	padding:10px 20px;
	margin:0px;
}
.pt_cart .rowcoupons .item-details .cartcoupon {
    padding-top: 10px;
    padding-left: 4px;
}
.pt_cart .rowcoupons .item-details .cartcoupon .label,
.pt_cart .rowcoupons .item-details .discount .label {
	font-size: 12px;
    font-weight: 400;
}
.pt_cart .giftreg-edit {
	margin-left:5px;
}
.pt_cart #cart-items-form td.cart-promo .label {
	font-size: 13px;
    font-weight: 500;
    font-style: normal;
}
.pt_cart #cart-items-form td.cart-promo .value {
	font-size: 12px;
    font-weight: 400;
    font-style: normal;
}